extends _layouts/normal

block append content
  #layout-content.clearfix
    .container
      #top-pcl
        .ref-bg.domain-
        .ref-bg.domain-10
        .ref-bg.domain-20
        .ref-bg.domain-30
        .ref-bg.domain-40
        .ref-bg.domain-50
        .ref-bg.domain-60
        .ref-bg.domain-70
        .ref-bg.domain-80
        .ref-bg.domain-90
      .page-container
        .row
          //- main content
          .col-sm-12.col-md-10
            .row
              .col-sm-6
                .item.view-main.ot-story.hover-action.ref-border-top_hover(class='domain-'+mainStory.category)
                  .row
                    .col-xs-6.col-sm-12
                      a.item-image(href=links.story(mainStory.uniqueName, mainStory.id))
                        img.story-img(alt='', src=links.wi('large', mainStory.imageId))
                    .item-body.col-xs-6.col-sm-12
                      h3
                        a(href=links.story(mainStory.uniqueName, mainStory.id))= mainStory.title
                      p= util.wrapAt(mainStory.summary, 250)
                      .details= util.moment(mainStory.createdAt).locale(currentCulture.lang).from(currentDate, true)
                        | , 
                        span.stats-badge(title=__('views'))= mainStory.countViews
                          |  
                          span.icon.icon-views
              .col-sm-6
                +storiesRowView(stories)
          //- right content
          .col-sm-12.col-md-2
            .tab.clearfix
              .tab-title
                span.pull-right 24 ore
                h4 Tendințe
              .tab-content
                .list.ot-topic.view-trending
                  each item in trendingTopics
                    .item.media
                      a.pull-left(href=links.topic(item.uniqueName))
                        img.media-object.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' data-original='//cdn.entipic.com/'+currentCulture.country+'/'+item.uniqueName+'.jpg')
                      .media-body
                        a(title=item.name, href=links.topic(item.uniqueName))= (item.abbr || item.name)
                        .details= '+'+item.counts.trend24h