extends _layouts/news

block append meta
  if (story.videoId)
    meta(property='og:video', content=config.protocol+'//'+config.host+ links.videoFrame(story.videoId,{ul: currentCulture.lang}))

block main_content
  .content-box(class='domain-'+(category && category.id || '0'))
    #item-page
      h1
        a(href=links.news.item(story.uniqueName, story.id))= story.title
      .item-details
        time= util.moment.tz(story.createdAt, config.timezone).locale(currentCulture.lang).format('lll')
      if (story.imageId)
        .row
          .col-sm-8.col-xs-12
            .story-image
              if (story.videoId)
                .fine-image.has-video
                  img.story-img(alt=story.title, src=links.wi.news('large', story.imageId))
                  .video-icon
                    i
              else
                .fine-image
                  a(rel='nofollow', href=Links.cdn.wi.news('master', story.imageId), target='_blank')
                    img.story-img(alt=story.title, src=Links.cdn.wi.news('large', story.imageId))
                .image-source=__('photo')+': '+ story.host
          .col-sm-4.col-xs-12
            +topicListTags(story.topics)
            br
            .social-likes(data-url=site.head.canonical)
              each item in config.shareDataServices
                div(class=item)
      else
        +topicListTags(story.topics)

      .item-body!= util.summaryToParagraphs(story.summary)
        
      a.read-source(rel='nofollow', target='_blank', href=util.toUrl(story))= util.format(__('read_more_on_source'), story.host.replace(/^www\./, ''))
    if (quotes && quotes.length>0)
      br
      +quotesList(quotes)
    br
    .group.text-center
      include ./controls/ads_bottom
    br
    .fb-comments(data-href=site.head.canonical, data-numposts="5", data-width="100%")

  br
block append second_content
  .group
    .group-title
      h4= __('latest_news')
    .tab-content
      +storiesSimpleView(latestStories)


block append scripts
  if (story.videoId)
    - var videoFrame = links.news.videoFrame(story.videoId,{ul: currentCulture.lang});
    script.
      $(document).ready(function(){
        $('.has-video', '.story-image').click(function(){
          $(this).html('<iframe src="#{videoFrame}" frameborder=0 scrolling="no" allowfullscreen="true"></iframe>');
          ga('send', 'event', 'video', 'play', '#{videoFrame}');
        });
      });
