extends _layouts/news

block main_content
  .content-box
    .list-item.ot-quote
      .item.ot-quote(class='domain-'+(quote.category || '0'))
        .item-body
          .item-name
            h4
              span.quote-mark “
              = quote.text
          i
        .item-author.media
          a.pull-left(href=links.topic(quote.author.uniqueName, {ul: currentCulture.lang}))
            img.media-object(src=util.entipicImage(quote.author, currentCulture), alt='')
          .media-body
            a.author-name(href=links.topic(quote.author.uniqueName, {ul: currentCulture.lang}))= quote.author.name
            span.details , 
              = util.moment(quote.createdAt).locale(currentCulture.lang).from(currentDate, true)
            if (currentDate.getTime() - new Date(quote.createdAt).getTime() < 1000 * 60 * 60 * 24 * 10)
              .details
                a(href=links.item(quote.webpage.uniqueName, quote.webpage.id))= util.wrapAt(quote.webpage.title, 100)
            else
              .details= util.wrapAt(quote.webpage.title, 100)
    br
    .group.text-center
      include ./controls/ads_bottom
    br
    .fb-comments(data-href=site.head.canonical, data-numposts="5", data-width="100%")
  br
  .group
    .group-title
      h4
        a(href=links.topicQuotes(quote.author.uniqueName, {ul: currentCulture.lang}))= util.format(__('quotes_by_author'), quote.author.name)
    .group-content
      +quotesList(quotes)

block append second_content
  if (latestStories && latestStories.length>0)
    .group
      .group-title
        h4= __('latest_news')
      .group-content
        +storiesSimpleView(latestStories)
