extends _layouts/news

block main_content
  .list-item.ot-quote
    .item.ot-quote(class='domain-'+(quote.category || ''))
      .item-body
        .item-name
          h4
            span.quote-mark “
            = quote.text
        i
      .item-author.media
        a.pull-left(href=links.topic(quote.author.uniqueName, {ul: currentCulture.lang}))
          img.media-object(src=util.entipicImage(quote.author, currentCulture), alt='')
        .media-body
          a.author-name(href=links.topic(quote.author.uniqueName, {ul: currentCulture.lang}))= quote.author.name
          span.details , 
            = util.moment(quote.createdAt).locale(currentCulture.lang).from(currentDate, true)
          if (currentDate.getTime() - new Date(quote.createdAt).getTime() < 1000 * 60 * 60 * 24 * 10)
            .details
              a(href=links.item(quote.webpage.uniqueName, quote.webpage.id))= util.wrapAt(quote.webpage.title, 100)
          else
            .details= util.wrapAt(quote.webpage.title, 100)
  .clearfix
    //- .our-sharedata.pull-right(data-appname='ournet', data-identifier=shareInfo.identifier, data-title=shareInfo.title, data-cid=shareInfo.clientId)
    //-   each service in config.shareDataServices
    //-     a.our-share-item(class=service, data-service=service, href=shareInfo.getShareUrl(service), rel='nofollow', target='_blank', title=util.format(__('share_on_format'),util.startWithUpperCase(service)))
    //-       span.share-icon
    //-         i
    //-       span.share-count.hidden

  br
  #disqus_thread
  script(type='text/javascript').
    var disqus_shortname = '#{config.disqusId}';
    var disqus_identifier = 'quote-#{quote.id}';
    var disqus_url = '#{site.head.canonical}';
    var disqus_config = function() { this.language = '#{currentCulture.lang}'; };
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  br
  br
  +storiesRowView(stories, 'col-xs-4')
block append second_content
  if (quotes && quotes.length>0)
    .tab
      h4.tab-title
        a(href=links.topicQuotes(quote.author.uniqueName, {ul: currentCulture.lang}))= __('quotes_by_author')
      .tab-content
        +quotesList(quotes)


  //- script.
  //-   (function() {
  //-   var img = new Image();
  //-   img.src = '#{links.actions.viewStory(story.id)}';
  //-   }());
