extends _layouts/news

block append styles
  style.
    .story-image{
      position: relative;
      padding: 0 0 54%;
      overflow: hidden;
      height: 0px;
      margin-bottom: 10px;
    }
    .story-image .story-img{
      width: 100%;
    }

block main_content
  .item.ot-story.view-item
    h1= story.title
    .item-details= util.format(__('news_count'), story.countNews)
      |,  
      span.stats-badge(title=__('views'))= story.countViews
        |  
        span.icon.icon-views
      |  
      time= util.moment(util.date(new Date(story.createdAt).getTime(), config.timezone)).locale(currentCulture.lang).format('lll')
    include ./controls/story_header
    .item-body
      - var textLength = story.summary.length;
      p!= util.htmlText(story.summary)
        |  – 
        a.source(rel='nofollow', target='_blank', href=util.toUrl(story))= story.host.replace(/^www\./, '')
      if (story.news)
        each item in story.news
          if (textLength < 800)
            - textLength += item.summary.length;
            p!= util.htmlText(item.summary)
              if (item.host)
                |  – 
                a.source(rel='nofollow', target='_blank', href=util.toUrl(item))= item.host.replace(/^www\./, '')
  br
  #disqus_thread
  script(type='text/javascript').
    var disqus_shortname = '#{config.disqusId}';
    var disqus_identifier = 'story-#{story.id}';
    var disqus_url = '#{site.head.canonical}';
    var disqus_config = function() { this.language = '#{currentCulture.lang}'; };
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

block append second_content
  if (news && news.length>0)
    .tab
      h4.tab-title= __('related_news')
      .tab-content
        +newsLineView(news)

  if (quotes && quotes.length>0)
    +quotesList(quotes, {item: {noPage:true}})
  else
    .tab
      h4.tab-title= __('latest_news')
      .tab-content
        +newsSimpleView(relatedNews, {wrapAt: 100, isStory: true})

block scripts
  if (story.videos)
    - var videoFrame = links.videoFrame(story.videos.join(','),{ul: currentCulture.lang});
      script.
        $(document).ready(function(){
          $('.story-image.video-image').click(function(){
            $(this).html('<iframe src="#{videoFrame}" frameborder=0 scrolling="no" allowfullscreen="true"></iframe>')
          });
        });
  script.
    (function() {
    var img = new Image();
    img.src = '#{links.actions.viewStory(story.id)}';
    }());