extends _layouts/news

block main_content
  .item.ot-story.view-item
    h1= story.title
    .item-details +
      = story.countNews
      |  
      = __('news')
      |,  
      span.stats-badge(title=__('views'))= story.countViews
        |  
        span.icon.icon-views
      | , 
      time= util.moment(story.createdAt).locale(currentCulture.lang).format('lll')
    .row
      .col-sm-8
        .image
          img.story-img(alt=story.title, src=links.wi('large', story.imageId))
          .details= __('photo')
            | : 
            = story.imageHost
      .col-sm-4
        .col-sm-12.col-xs-7
          .list.ot-topic.view-alist
            each item in story.topics
              a(title=item.name, href=links.topic(item.uniqueName))= (item.abbr || item.name)
        .col-sm-12.col-xs-5
          .our-sharedata(data-appname='ournet', data-identifier=shareInfo.identifier, data-title=shareInfo.title, data-cid=shareInfo.clientId)
            each service in config.shareDataServices
              a.our-share-item(class=service, data-service=service, href=shareInfo.getShareUrl(service), rel='nofollow', target='_blank', title=util.format(__('share_on_format'),util.startWithUpperCase(service)))
                span.share-icon
                  i
                span.share-count.hidden
    .item-body
      p!= util.htmlText(story.summary)
        |  – 
        a.source(rel='nofollow', target='_blank', href=links.url(util.crypto.encrypt(story.host+story.path)))= story.host.replace(/^www\./, '')
      each item in story.news
        p!= util.htmlText(item.summary)
          if (item.host)
            |  – 
            a.source(rel='nofollow', target='_blank', href=links.url(util.crypto.encrypt(item.host+item.path)))= item.host.replace(/^www\./, '')
  br
  .fb-comments(data-href=site.head.canonical, data-width='100%', data-numposts='5', data-colorscheme='light')
block append second_content
  .tab
    h4.tab-title= __('related_news')
    .tab-content
      .list.ot-news.view-simple
        each item in relatedNews
          .list-item.ot-news
            .item.media.ot-news
              .pull-left
                img.story-img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', alt='', data-original=links.wi('square', item.imageId))
              .item-body.media-body
                a.item-name(href=links.story(item.uniqueName, item.id))= item.title
                p= util.wrapAt(item.summary, 80)
                .details= util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)

block scripts
  -var fbCulture = currentCulture.lang+'_'+currentCulture.lang.toUpperCase()
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/#{fbCulture}/sdk.js#xfbml=1&version=v2.3&appId=#{config.facebookId}";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));