extends _layouts/news

block main_content
  .content-header.media
    .pull-left
      img.media-object(alt='', src=util.entipicImage(topic, currentCulture))
    .media-body
      h1= title
      .details= subtitle

  if (mainItem)
    +newsFineView([mainItem])
    br
  else if(mainStory)
    +storiesFineView([mainStory])
    br

  +storiesRowView(stories, 'col-xs-4')

  if (stories.length>2)
    .list-footer
      a.more(href=links.topicStories(topic.uniqueName || topic.slug, {ul: currentCulture.lang}))= __('more_stories')
        |  &rsaquo;
  else
    br
    .tab.view-ads.view-fill.gads-468.no-margin
      include controls/ads_468

  .tab
    h3.tab-title= util.format(__('topic_latest_news'), topic.name)
    .tab-content
      +newsSimpleView(latestNews)

block second_content
  if (topic.description)
    p.topic-informer= topic.description

  .tab.view-ads.view-fill.gads-300-250
      include controls/ads_300

  if (quotes && quotes.length>0)
    .tab
      //- h4.tab-title= __('quotes')
      .tab-content
        +quotesList(quotes, {item:{wrapAt:160}})

    if (quotes.length>2)
      .list-footer
        a.more(href=links.topicQuotes(topic.uniqueName || topic.slug, {ul: currentCulture.lang}))= __('more_quotes')
          |  &rsaquo;

block right_content_bottom
  .tab
    h4.tab-title= __('ads')
  .tab-content
    include ./controls/ads_150
