extends _layouts/news

block append meta
  meta(property="og:image", content=util.entipicImage(topic, currentCulture, 'f'))

block main_content
  .content-box
    .content-header.media
      .media-left
        .media-object
          img(alt='', src=util.entipicImage(topic, currentCulture, 'b'))
      .media-body
        h1
          a(href=links.news.topic(topic.slug, {ul: currentCulture.lang}))= topic.name
          | :  
          = __('quotes')
        .details= subtitle
        .text-right
          .social-likes(data-url=site.head.canonical)
            each item in config.shareDataServices
              div(class=item)

    +quotesList(quotes)

block append second_content
  .group
    .group-title
      h4= __('latest_news')
    .tab-content
      +storiesSimpleView(latestStories)


