extends _layouts/news
include ../mixins/timeline_news

block main_content
  .content-box(class='domain-'+(topic.category || '0'))
    .content-header.media
      .media-left
        img.media-object(alt='', src=util.entipicImage(topic, currentCulture))
      .media-body
        h1= title
        .details= subtitle

    +storiesRowView(stories, {itemClass:'col-xs-4'})

    if (stories.length>5)
      .list-footer
        a.more(href=links.topicStories(topic.uniqueName || topic.slug, {ul: currentCulture.lang}))= __('more_stories')
          |  &rsaquo;
      br
    .group.text-center
      include ./controls/ads_center

    .group.view-accent
      .group-title
        h3= util.format(__('topic_latest_news'), topic.name)
      .group-content
        +newsSimpleView(latestNews, {summary: true})

block prepend second_content
  if (topic.description)
    p.topic-informer= topic.description

block append second_content
  if (quotes && quotes.length>0)
    .group
      .group-title
        h4
          a(href=links.topicQuotes(topic.slug, {ul: currentCulture.lang}))
            if (topic.type=='person')
              = util.format(__('quotes_by_author'), topic.name)
            else
              = util.format(__('quotes_about'), (topic.abbr || topic.name))
      .group-content
        +quotesList(quotes, {item:{wrapAt:160}})
  if (!quotes || quotes.length<3)
    .group
      .group-title
        h4= __('latest_news')
      .tab-content
        +storiesSimpleView(latestStories)

