extends _layouts/news

block main_content
  .content-header.media
    .pull-left
      img.media-object(alt='', src=util.entipicImage(topic, currentCulture))
    .media-body
      h1= title
      .details= subtitle

  if (mainItem)
    +newsFineView([mainItem])
    br
  else if(mainStory)
    +storiesFineView([mainStory])
    br

  +storiesRowView(stories, 'col-xs-4')

  if (stories.length>2)
    .list-footer
      a.more(href=links.topicStories(topic.uniqueName || topic.slug, {ul: currentCulture.lang}))= __('more_stories')
        |  &rsaquo;
  else
    br
    .tab.view-ads.view-fill.gads-468.no-margin
      include controls/ads_468

block second_content
  if (topic.description)
    p.topic-informer= topic.description
  if (quotes && quotes.length>0)
    .tab
      //- h4.tab-title= __('quotes')
      .tab-content
        +quotesList(quotes)

    if (quotes.length>2)
      .list-footer
        a.more(href=links.topicQuotes(topic.uniqueName || topic.slug, {ul: currentCulture.lang}))= __('more_quotes')
          |  &rsaquo;
  else
    .tab.view-ads.view-fill.gads-300-250
      include controls/ads_300
