mixin storiesRowView(list, itemClass)
  .list.ot-story.view-row.row
    each item in list
      - var url=links.story(item.uniqueName, item.id)
      .list-item.ot-story(class=(itemClass || 'col-sm-6 col-xs-4'))
        .item.ot-story.hover-action.ref-border-top_hover(class='domain-'+(item.category||''))
          a.item-image(href=url)
            img(src=links.wi('medium', item.imageId))
          .item-body
            h3
              a(href=url)= item.title
            .details= util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)
              | , 
              span.stats-badge(title=__('views'))= item.countViews
                |  
                span.icon.icon-views

mixin newsSimpleView(list, isStory)
  .list.ot-news.view-simple
    each item in list
      - var url= isStory ? links.story(item.uniqueName, item.id) : links.item(item.uniqueName, item.id)
      - var imageUrl = isStory? links.wi('square', item.imageId) : links.wi.news('square', item.imageId);
      .list-item.ot-news
        .item.media.ot-news
          .pull-left
            img.story-img.lazy(alt='', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=imageUrl)
          .item-body.media-body
            a.item-name(href=url)= item.title
            p= util.wrapAt(item.summary, 200)
            .details
              a.source(rel='nofollow', target='_blank', href=util.toUrl(item))= item.host.replace(/^www\./, '')
              |  - 
              = util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)

mixin newsLargeViewItem(item, isStory)
  - var url = isStory ? links.story(item.uniqueName, item.id) : links.item(item.uniqueName, item.id)
  - var imageUrl = isStory? links.wi('medium', item.imageId) : links.wi.news('medium', item.imageId);
  .item.ot-news.view-large.clearfix
    .item-media
      a(href=url)
        img.story-img(alt='', src=imageUrl)
    .item-body
      h3
        a.item-name(href=url)= item.title
      p= util.wrapAt(item.summary, 300)
        span.details
          |  - 
          a.source(rel='nofollow', target='_blank', href=util.toUrl(item))= item.host.replace(/^www\./, '')
          |  - 
          = util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)

