extends ./root
include ../mixins/lists

block page_header_content
  .row
    .col-xs-4.col-sm-2
      #header-logo
        a#logo(title=__(project.name), href=links.home({ul: currentCulture.language}))
        if (config.projects.length > 1)
          ul#header-projects
            each host, key in config.projects
              li
                a(target='_blank', href='http://'+host)= __(key)
    .col-xs-8.col-sm-7
      ul#header-menu
        li.dropdown
          if (category)
            a.type-news.dropdown-toggle.selected(class=('domain-'+category.id), type='button', id='dropdown-cats', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')= category[currentCulture.lang]
              |  
              span.caret
          else
            a.type-news.dropdown-toggle(type='button', id='dropdown-cats', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', class=selectedMenuType==='news' ? 'selected': null)= __('news')
              |  
              span.caret
          if (categories)
            ul.dropdown-menu#dropdown-cats
              each item in categories
                li
                  a(href=links.category(item.name,{ul: currentCulture.lang}), class=('domain-'+item.id)+(category && category.id==item.id?' active':''))= item[currentCulture.lang]
        li
          a.type-popular(href=links.popular({ul: currentCulture.lang}), class=selectedMenuType==='popular' ? 'selected': null)= __('popular')
        //- li
        //-   a.type-important(href=links.important({ul: currentCulture.lang}))= __('important')
        //- li
        //-   a.type-video(href=links.video({ul: currentCulture.lang}))= __('video')
        li
          a.type-quotes(href=links.quotes({ul: currentCulture.lang}), class=selectedMenuType==='quotes' ? 'selected': null)= __('quotes')
    .col-sm-3.hidden-xs
      #header-widgets
        if (weatherWidget && weatherWidget.forecast)
          #widget-weather
            //- .shadow
            span.symbol.w-icon(class='wi-'+weatherWidget.forecast.symbol.id, title=weatherWidget.forecast.symbol.name)
            span.name
              a(href=weatherWidget.place.url)= weatherWidget.place.name
              span.no= weatherWidget.forecast.temperature + '°C'

block page_main_content
  section#page-content
    block content

block scripts
  script(type='text/javascript').
    var addthis_config = {
      data_ga_property: '#{config.googleAnalyticsId}',
      data_ga_social: true
    };
  script(async='', src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559bd1344703b48a")
