mixin storyItem(item, options)
  - var url=links.story(item.uniqueName, item.id, {ul: currentCulture.lang});
  - var hasVideo = item.videos && item.videos.length > 0;
  - options = options || {};

  .item.ot-story(class='domain-' + (item.category || '0'))
    if (options.image !== false)
      a.item-image(href=url, class=(hasVideo ? 'has-video' : null))
        img(src=links.wi(options.imageSize || 'medium', item.imageId))
        if (hasVideo)
          span.video-icon
            i
    .item-body
      h3
        a(href=url)= util.wrapAt(item.title, options.titleLength || 80)
      .details= util.moment(item.createdAt).locale(currentCulture.lang).from(currentDate, true)
        | , 
        span.stats-badge(title=__('views'))= item.countViews
          |  
          i.icon.icon-views
        if (item.videos)
          | , 
          span.stats-badge(title=__('video'))= item.videos.length
            |  
            i.icon.icon-video
      if (options.summary > 0)
        p= util.wrapAt(item.summary, options.summary)
