mixin timelineNews(news, options)
  ul.news-timeline
    - var prevItem;
    each item, i in news
      if (true)
        //- if (util.isNormalNewsTitle(item.title) || prevItem && util.compareTitles(prevItem.title, item.title)<0.9)
        - prevItem = item;
        li.tl-item
          .tl-head
            .tl-icon
            .tl-time= util.moment.tz(item.publishedAt, config.timezone).locale(currentCulture.lang).format('HH:mm')
            .tl-date= util.moment.tz(item.publishedAt, config.timezone).locale(currentCulture.lang).format('DD MMM')
          .tl-body
            if (item.imageId)
              if (item.videoId)
                .fine-image.has-video(data-videoId=item.videoId)
                  if (i<3)
                    img.story-img(alt=item.title, src=links.wi.news('master', item.imageId))
                  else
                    img.story-img.lazy(alt=item.title, src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=links.wi.news('master', item.imageId))
                  .video-icon
                    i
              else
                .fine-image
                  a(rel='nofollow', href=links.wi.news('master', item.imageId), target='_blank')
                    if (i<3)
                      img.story-img(alt=item.title, src=links.wi.news('master', item.imageId))
                    else
                      img.story-img.lazy(alt=item.title, src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=links.wi.news('master', item.imageId))
                  .image-source=__('photo')+': '+ item.host
            h3.tl-title
              a(href=links.item(item.uniqueName, item.id, {ul: currentCulture.lang}))= item.title
            p.tl-summary= util.wrapAt(item.summary, 300)

            if (item.quotes && item.quotes.length>0)
              +quotesList(item.quotes, {noPage: true})
            if (item.topics && item.topics.length>0)
              .topic-icons
                each topic, ti in item.topics
                  if (ti<6)
                    a(href=links.topic(topic.uniqueName), alt=topic.name)
                      img.lazy(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', data-original=util.entipicImage(topic, currentCulture, 'x'))
            if (i===5)
              .group.text-center
                include ../controls/ads_center
